h2::before {
    content: open-quote;
    color: blue;
    font-size: 1.5em;
}

h2::after {
    content: close-quote;
    color: blue;
    font-size: 1.5em;
}

/* second collage picture styles */
.first-column img{
    height: 400px;
}
.second-column img{
    height: 300px;
}
.last-row img{
    height: 100px;
}